{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

  {% if post.tagline contains 'Paper, Corresponding author' %}
  <table style="border:1px dotted black;">
  {% elsif post.tagline contains 'Preprint, Corresponding author' %}
  <table style="border:1px dotted black;">
  {% else %}
  <table style="border: none;">
  {% endif %}

    <tr>
      <td width="10%" style="border: none;">
      {% if post.venue == "bioRxiv" %}
        <img src="{{ "cover_bioRxiv.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Journal of Physics D: Applied Physics" %}
        <img src="{{ "cover_jphysd.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Nature methods" %}
        <img src="{{ "cover_nmeth.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Nature communications" %}
        <img src="{{ "cover_ncomm.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Nature microbiology" %}
        <img src="{{ "cover_nmicro.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Scientific reports" %}
        <img src="{{ "cover_scirep.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "SPIE" %}
        <img src="{{ "cover_spie.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Frontiers in immunology" %}
        <img src="{{ "cover_frontimmun.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Biochemical Society Transactions" %}
        <img src="{{ "cover_biochemsoctrans.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "The annals of applied statistics" %}
        <img src="{{ "cover_annalsstat.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "The international journal of biochemistry & cell biology" %}
        <img src="{{ "cover_tijbcb.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "JoVE (Journal of Visualized Experiments)" %}
        <img src="{{ "cover_jove.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Journal of Experimental Medicine" %}
        <img src="{{ "cover_jem.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Journal of Cell Biology" %}
        <img src="{{ "cover_jcb.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Developmental cell" %}
        <img src="{{ "cover_devcell.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Cell host & microbe" %}
        <img src="{{ "cover_chm.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "Methods in cell biology" %}
        <img src="{{ "cover_micb.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "EMBO reports" %}
        <img src="{{ "cover_emborep.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "PLoS pathogens" %}
        <img src="{{ "cover_plospath.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.venue == "The Journal of Immunology" %}
        <img src="{{ "cover_ji.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% elsif post.title == "Standard and super-resolution bioimaging data analysis: a primer" %}
        <img src="{{ "cover_primer.jpg" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% else %}
        <img src="{{ "journal.png" | prepend: "/images/" | prepend: base_path }}" alt="">
      {% endif %}
      </td>

        <td width="80%" style="border: none;">

          <span style="font-size:1.05em; line-height: 0.1; font-weight:bold" class="archive__item-title" itemprop="headline">
            {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
              <a href="{{ base_path }}{{ post.url }}" rel="permalink"><span style="color:#494E52">{{ title }}</span></a>
            {% endif %}
          </span>

          {% if post.authors %}
            {% assign authors = post.authors | split: ", " %}
            {% assign found = false %}
            {% assign nauthors = authors.size | minus: 1 %}

            {% capture author_names %}
              {% for author in authors %}
                {% for team in site.team %}
                  {% if author contains team.authorname %}
                    {% if author != authors[nauthors] %}
                      <a href="{{ team.url }}">*<u>{{ author }}</u>*</a>,
                    {% else %}
                      <a href="{{ team.url }}">*<u>{{ author }}</u>*</a>
                    {% endif %}
                    {% assign found = true %}
                  {% endif %}
                {% endfor %}

                {% for collaborator in site.collaborations %}
                  {% if author contains collaborator.authorname %}
                    {% if author != authors[nauthors] %}
                      <a href="{{ collaborator.url }}"><u>{{ author }}</u></a>,
                    {% else %}
                      <a href="{{ collaborator.url }}"><u>{{ author }}</u></a>
                    {% endif %}
                    {% assign found = true %}
                  {% endif %}
                {% endfor %}

                {% if found != true %}
                  {% if author != authors[nauthors] %}
                    {{ author }},
                  {% else %}
                    {{ author }}
                  {% endif %}
                {% endif %}
                {% assign found = false %}
              {% endfor %}
            {% endcapture %}

            <br><span style="font-size:0.85em; line-height: 0.5;"><i>{{ author_names }}</i></span><br>
          {% endif %}

          {% if post.collection == 'publications' %}
          <span style="font-size:0.8em; line-height: 0.5;"><b>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B %Y" }}</b></span>
          {% endif %}

          {% if post.doi %}
          <span style="font-size:0.8em; line-height: 0.5;"><b><cite>(see <a href="https://doi.org/{{ post.doi }}"> <u>publication</u></a>  ) </cite></b></span><br>
          {% elsif post.paperurl %}
          <span style="font-size:0.8em; line-height: 0.5;"><b><cite>(see <a href="{{ post.paperurl }}"> <u>publication</u></a>  ) </cite></b></span><br>
          {% else %}
          <br>
          {% endif %}

          {% if post.tagline %}
          <span style="font-size:0.85em; line-height: 0.5;"><i>{{ post.tagline }}</i></span><br>
          {% endif %}

    </td>
    {% if post.doi %}
      <td style="border: none;">
      <!-- <div data-badge-details="right" data-badge-type="donut" data-doi="{{ post.doi }}" data-condensed="true" class="altmetric-embed"></div> -->
      <div class='altmetric-embed' data-badge-type='donut' data-badge-popover='left' data-doi="{{ post.doi }}"></div>
      <span class="__dimensions_badge_embed__" data-doi="{{ post.doi }}" data-hide-zero-citations="false" data-style="small_circle"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
      </td>
    {% endif %}

    </tr>
  </table>
  </article>
</div>
