<h2> Team members collaborating </h2>
<div class="grid">
  <div class="wrapper">
    {% for member in site.team %}
      {% assign post = member %}
      {% if member.supervisors contains page.authorname or member.collaborators contains page.authorname %}
        {% include archive-single-proj.html type="grid" %}
      {% else %}
        {% for pub in site.publications %}
          {% if pub.authors contains page.authorname and pub.authors contains member.authorname %}
            {% include archive-single-proj.html type="grid" %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
